{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="canonical" href="https://www.messys.top/about"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8" http-equiv="content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='keywords' content="Messy,MessyBlog,博客,凌乱">
    <meta name='description' content="Messy,MessyBlog,Messy的个人网站,博客,凌乱">
    <meta name='robots' content="all">
    <meta name='author' content="Messy,凌乱,messygao@qq.com">
    <link rel="shortcut icon" href="{% static 'messy/img/Messy-logo/icon-logo.png' %}" type="image/x-icon"/>

	<title>关于 | Messy的小博客~~~</title>
	<link rel="stylesheet" href="{% static 'messy/framework/custom/loading.min.css' %}">
	<link rel="stylesheet" href="{% static 'messy/framework/custom/webStyle.min.css' %}">
	<link rel="stylesheet" href="{% static 'messy/css/resume.min.css' %}?rev=1">
    <link rel="stylesheet" href="{% static 'messy/model/topmodel/topmodel-bgiWhite.min.css' %}">
</head>
<body>
    {% include 'top_model.html'%}

	<div class="g-mask-all">
		<div class="g-mask-text">
			<div class="g-mask-M">M</div>
			<div class="g-mask-E">E</div>
			<div class="g-mask-S">S</div>
			<div class="g-mask-S_2">S</div>
			<div class="g-mask-Y">Y</div>
		</div>
		<div class="g-mask-bgi-2"></div>
	</div>
    <div class="g-bottom-bgi"></div>
	<div class="g-headImg"></div>
	<div class="g-body-all">
		<div class="g-header">
			<center>
				<div class="g-header-text">
					<h2>About the Messy</h2>
					<p><img src="{% static 'messy/img/resume/date1.png' %}" alt="第一次编辑">Posted on 2018-12-19 |  <img src="{% static 'messy/img/resume/date2.png' %}" alt='最后一次编辑'>Edited on 2019-3-17</p>
				</div>
			</center>
		</div>
		<div class="g-body">
			<div class="g-about-messy">
				<h4><span>#</span>关于我:</h4>
				<hr>
				<p>看到大部分的大佬都会在博客的关于，甚至是博客的标题里的直接写上自己的全名，原因大多是让更多的人收藏博客，传播出去，如别人的看到收藏夹的时候，能对这个名字有个印象，找工作的时候也好找。</p>
				<p>但是目前的话，个人还不用担心这方面，So，最多可以公布My name is Gao</p>
				<p>现在是2019年春季，高中学生</p>
			</div>
			<div class="g-about-hobby">
				<h4><span>#</span>兴趣爱好:</h4>
				<hr>
				<p>听JJ大佬的歌（林俊杰）</p>
				<p>用吉他弹半首JJ的慢歌</p>
				<p>天天写写不完的Bug.....</p>
				<p>做一做一会好吃一会不好吃的饭菜</p>
				<p>旅游和不怎么好看的摄影</p>
			</div>
			<div class="g-about-skill">
				<h4><span>#</span>技能简介:</h4>
				<hr>
				<p>
					可以小骄傲的说，目前是一个小全栈(生活所迫啊，就只我一个人学编程(T＿T))
					<ul>
						<li>前端:大量使用Css3进行丝滑的动画渲染，让js做正事，框架大部分使用<code>JQuery</code>，dom操作极其方便，网站管理页使用Ajax配合<code>Vue</code>更好进行数据管理</li>
						<li>后端:使用<code>Python的Django</code>框架进行开发，ORM框架操作Mysql，Django拥有众多web漏洞的防御方案，安全方面不用过多考虑</li>
						<li>服务器：在CentOS7的云服务器上进行部署，uwsgi+nginx web服务器进行性能调优和简单的防爬处理</li>
						<li>怎么感觉在写简历了......醉了-_-!!</li>
					</ul>
				</p>
			</div>
			<div class="g-about-xperience">
				<h4><span>#</span>经历简述:</h4>
				<hr>
				<p>
					初升高一的时候，一次偶然的机会，参加的学校的比赛，接触了Linux基础运维，后因比赛项目变更，继而学习基础Linux、Window、WEB渗透和迎来人生第一门语言——<code>Python</code>
				</p>
				<p>
					高二上，在高三大佬的驱动下，学习Python的Django后台框架，接着便是前端的学习，再后来，技术到位了，便去处理那些繁杂的事务，买阿里云9.5的学生服务器,<a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=5mm2ia6s">说到阿里云，我就想推广他们的服务器，说到服务器，我就想到今年下半年，文体两开花...</a>不扯了不扯了，接着说，买域名，搭环境，域名备案，一段波折所有东西终于进入正轨，从此走向程序员秃头之路（真的在掉头发-_-!!）.....
				</p>
				<p>
					高二下，放弃了网站一段时间......买了个树莓派玩了一段时间的伪物联网，之后又给驱动我的大佬做了一个爬虫的小外包，得到了真正意义上的人生第一桶金。后面，在不耽误正事的前提下，我会更加积极的建设网站，总有一天建成满意的样子！
				</p>
			</div>
			<div class="g-about-messyblog">
				<h4><span>#</span>关于博客：</h4>
				<hr>
				<p>迄今为止，对于我来讲最大的一个项目，目前的话，还没有像其他大佬一样给自己的博客起名字，就先MessyBlog代替吧...</p>
				<p>
					为什么说是最大的项目呢？第一：学生的身份，也没多大可能接触到什么大项目。第二，便是网站真的用心去做，MessyBlog大概是2018年10月开始正式启动的，前后端全部是自己一个人从零一点一点的搭起来的（真心感觉直接用模板没意思.），经历的N的整站重改(⊙_⊙)，在这期间真的真的可以学到很多经验、提升编程思维、还有就是多踩些坑。
				</p>
				<p>
					比如后端，因为一些需求，不得不把已经放弃的数据库又给捡起来，
					再说服务器，从最开始的借用别人的服务器，到后来使用隧道，最后还是乖乖去买云服务器，慢慢等半个月的备案......
					这一切的一切，都是这个项目回报给我的!
				</p>
			</div>
			<div class="g-about-contact">
				<h4><span>#</span>联系我：</h4>
				<hr>
				<p>QQ:949700357</p>
				<p>QQ群:576072252</p>
				<p>邮箱:messygao@qq.com</p>
				<p>GitHub：<a href="https://github.com/MessyS" target='_blank'>https://github.com/MessyS</a></p>
                <p>CSDN：<a href="https://blog.csdn.net/qq_41082014" target='_blank'>https://blog.csdn.net/qq_41082014</a></p>
				<br>
				<strong><p>点击图标进行快捷访问：</p></strong>
				<p>
					<a href="//shang.qq.com/wpa/qunwpa?idkey=6225162e6005296ddc1a729abd0f5f4dd7b2b1ef30e5752a3f80b95390a35ba9" target="_blank"><img id='s-qq-group' src="{% static 'messy/img/resume/qq_group.png' %}" alt="qq" /></a>
					<a href="https://github.com/MessyS" target="_blank"><img id='s-git' src="{% static 'messy/img/resume/github.png' %}" alt="git" /></a>
                    <a href="https://blog.csdn.net/qq_41082014" target="_blank"><img id='s-csdn' src="{% static 'messy/img/resume/csdn.png' %}" alt="csdn" /></a>
				</p>
			</div>
		</div>
	</div>
	<script src="{% static 'messy/framework/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'messy/framework/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'messy/framework/custom/md5.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'messy/model/topmodel/topmodel.min.js' %}" type="text/javascript" charset="utf-8"></script>

	<script>
        window.onload = function(){
            setTimeout(function(){
                $('.g-mask-bgi-2').addClass('g-mask-bgi-2-hover');
                setTimeout(function(){
                    $('.g-mask-all').addClass('g-mask-all-remove')
                },500)
            },1000)
        };
    </script>
    <script src="{% static 'messy/framework/seoPush.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
