{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    year!
    <script src="{% static 'messy/framework/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'messy/framework/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
{#    <script>#}
{#        $.ajax({#}
{#			url: '/photosAjax/',#}
{#			type: 'POST',#}
{#			headers:{#}
{#				"X-CSRFToken":$.cookie('csrftoken')#}
{#			},#}
{#			data:{#}
{#			    'n':10,#}
{#            },#}
{#			success: function (data) {#}
{#				console.log(data);#}
{#			},#}
{#			error:function(data){#}
{#			    console.log(data);#}
{#			}#}
{#		});#}
{#    </script>#}
</body>
</html>