body{
	margin: 0;
	padding: 0;

	background: #ecf0f5;
	-webkit-transition: all .3s;

	transition: all .3s;
}


.g-all{
	// display: none;

	.g-framework{
		-webkit-transition: all .3s;
		transition: all .3s;
	
		.g-framework-top{
			position: fixed;
			height: 70px;
			background: white;
	
			display: -webkit-box;
	
			display: -ms-flexbox;
	
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
				  align-items: center;
			-webkit-box-pack: end;
			    -ms-flex-pack: end;
				  justify-content: flex-end;
			width:100%;
			z-index: 1;
			border-bottom: 1px solid #d2d6de;
	
			-webkit-transition: all .3s;
			transition: all .3s;
	
			@media only screen and (max-width:1200px){
				width:100%;
			}
	
			div{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
					  align-items: center;
				height: 100%;
				padding: 0 1em;
				border-right:1px solid #d2d6de;
				 z-index: 1;
				cursor: pointer;
			}
			div:hover{
				background:#f4f4f5;
				-webkit-transition: all .3s;
				transition: all .3s;
			}
	
			.g-framework-top-logo{
				position:fixed;
				left:0;
				top:0;
	
				display:-webkit-box;
	
				display:-ms-flexbox;
	
				display:flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
					  align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
					  justify-content: center;
				height:70px;
				width: 300px;
				padding: 0;
				background: white;
	
				border-right: 1px solid #d2d6de;
				border-bottom: 1px solid #d2d6de;
	
				-webkit-transition: all .3s;
	
				transition: all .3s;
	
				@media only screen and (max-width:1200px){
					width:200px;
				}
				@media only screen and (max-width:700px){
					width:150px;
				}
	
				img{
					display: inline-block;
					width:70%;
					cursor: pointer;
				}
			}
		}
	
		.g-framework-left{
			position: fixed;
			top:70px;
	
			width: 300px;
			height:100%;
			background:#f9fafc;
	
			border-right: 1px solid #d2d6de;
	
			-webkit-transition: all .3s;
			transition: all .3s;
	
			@media only screen and (max-width:1200px){
				display: none;
			}
			@media only screen and (max-width: 700px){
				width: 200px;
			}
	
			.g-framework-left-headers{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				padding-top: 1em;
				-webkit-box-pack:center;
				    -ms-flex-pack:center;
					  justify-content:center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
					  align-items: center;
				text-align: center;
	
				-webkit-transition: all .3s;
	
				transition: all .3s;
	
				img{
					margin-right: 2em;
					height: 80px;
				}
	
				.g-body-header-text{
					p{
						font-size: 10px;
					}
				}
			}
	
			.g-framework-left-navigation-title{
				position: relative;
	
				padding:1em;
				list-style: none;
	
				color: #AAA;
				font-size: 12px;
	
				-webkit-transition: all .3s;
	
				transition: all .3s;
			}
	
			.g-framework-left-options{
				position: relative;
	
				height:80%;
				overflow:auto;		// 用滚动条展示完所有内容
				overflow-x:none;
	
				-webkit-transition: all .3s;
				transition: all .3s;
	
				.g-framework-left-options-list{
					width:calc(100% - 20px);
					padding:12px 5px 12px 15px;
					cursor: pointer;
	
					-webkit-transition: all .3s;
	
					transition: all .3s;
				}
	
				.g-framework-left-options-list:hover{
					background:#f4f4f5;
				}
				.g-framework-left-options-list-active{
					background:#f4f4f5;
				}
	
				.g-framework-left-options-title{
					-webkit-transition: all .3s;
					transition: all .3s;
	
					img{
						position: relative;
						top:2px;
	
						display: inline-block;
						height: 16px;
					}
	
					.g-framework-left-options-list-icon{
						margin-right:5px;
					}
	
					.g-framework-left-options-list-open{
					    position:relative;
					    float: right;
					    right: 5px;
					    top:5px;
					    height: 13px!important;
	
					    -webkit-transition: all .3s;
	
					    transition: all .3s;
					}
					.g-framework-left-options-list-open-active {
						-webkit-transform:rotate(90deg);
							  transform:rotate(90deg);
					}
				}
	
				.g-framework-left-options-options-block{
					display: none;
	
					.g-framework-left-options-options{
						text-indent: 2em;
						display: block;
						text-decoration: none;
						width: 100%;
						color: #AAA;
						-webkit-transition: all .3s;
						transition: all .3s;
						padding: 10px 0;
						cursor: pointer;
					}
					.g-framework-left-options-options:hover{
						color: black;
	
						-webkit-transition: all .3s;
	
						transition: all .3s;
					}
				}
			}
		}
	}
	
	.g-body-loading{
		position: fixed;
		top:calc(30% - 32px);
		left:calc(60% - 32px);
		z-index: -1;
	
		@media only screen and (max-width:1200px){
			left:calc(50% - 32px);
		}
	
		.spinner {
			margin: 100px auto;
			width: 32px;
			height: 32px;
			position: relative;
		}
	
		.cube1, .cube2 {
			background-color: #67CF22;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 0;
			left: 0;
	
			-webkit-animation: cubemove 1.8s infinite ease-in-out;
			animation: cubemove 1.8s infinite ease-in-out;
		}
	
		.cube2 {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}
	
		@-webkit-keyframes cubemove {
			25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
			50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
			75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
			100% { -webkit-transform: rotate(-360deg) }
		}
	
		@keyframes cubemove {
			25% {
				transform: translateX(42px) rotate(-90deg) scale(0.5);
				-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
			} 50% {
				  transform: translateX(42px) translateY(42px) rotate(-179deg);
				-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
			} 50.1% {
				transform: translateX(42px) translateY(42px) rotate(-180deg);
				-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
			} 75% {
				transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
				-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
			} 100% {
				transform: rotate(-360deg);
				-webkit-transform: rotate(-360deg);
			}
		}
	}
	
	.g-body{
		position:relative;
		top:70px;
		left:300px;
	
		display:block;
		padding:20px;
		width: calc(100% - 340px);
		background: #ecf0f5;
	
		-webkit-transition: all .3s;
	
		transition: all .3s;
	
		@media only screen and (max-width:1200px){
			position:absolute;
			left:0;
			width:calc(100% - 40px);
		}
	}	
}